@import '../utils/mixins';

.welcome-section {
  padding: 200px 0;
  @include bg-img('../img/bg.jpg');
  background-size: cover;
}

.contact-section {
  padding: 200px 0;
  @include bg-img('../img/bg-2.jpg');
  background-size: cover;
}

.medical-team-section {
  padding: 200px 0;
  @include bg-img('../img/bg-3.jpg');
  background-size: cover;
}
